<aside class="sidebar">
  <!-- Logo superior -->
  <div class="logo-container">
    <div class="logo" (click)="navigateTo('/dashboard')">
     <img src="assets/img/Imagotipo.png" alt="Logo" class="logo-image">
    </div>
  </div>

  <div class="menu-loading" *ngIf="isLoading">
    <div class="spinner-small"></div>
  </div>

  <nav class="menu-top" *ngIf="!isLoading">
    <!-- Dashboard icon -->
    <button 
      class="menu-item" 
      [class.active]="isActive('/dashboard')"
      (click)="navigateTo('/dashboard')"
      title="Dashboard">
      <i class='bx bxs-dashboard'></i>
    </button>

    <button 
      class="menu-item" 
      *ngIf="isInstructor()"
      [class.active]="isActive('/create-session')"
      (click)="navigateTo('/app/create-session')"
      title="Crear sesión">
      <i class='bx bx-plus'></i>
    </button>

    <button 
      class="menu-item" 
      *ngIf="isLearner()"
      [class.active]="isActive('/app/sessions')"
      (click)="navigateTo('/app/sessions')"
      title="Explorar sesiones">
      <i class='bx bx-compass'></i>
    </button>

    <button 
      class="menu-item spacer" 
      *ngIf="isInstructor()"
      [class.active]="isActive('/calendar')"
      (click)="navigateTo('/calendar')"
      title="Mi calendario">
      <i class='bx bx-calendar'></i>
    </button>

    <button 
      class="menu-item spacer" 
      *ngIf="isLearner()"
      [class.active]="isActive('/communities')"
      (click)="navigateTo('/communities')"
      title="Mis comunidades">
      <i class='bx bx-group'></i>
    </button>
  </nav>

  <nav class="menu-bottom" *ngIf="!isLoading">

    <button 
      class="menu-item profile"
      [class.active]="isActive('/app/profile')"
      (click)="navigateTo('/app/profile')"
      title="Mi perfil">
      <i class='bx bx-user'> </i>
      
    </button>

    <button 
      class="menu-item logout"
      (click)="logout()"
      title="Cerrar sesión">
      <i class='bx bx-log-out'></i>
    </button>
  </nav>
</aside>