.learning-hours {
  background-color: #39434B;
  border-radius: 15px;
  padding: 25px;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  width: 100%;
}

.hours-number {
  font-size: 80px;
  color: #AAE16B;
  font-weight: 700;
  line-height: 1.2;
}

.hours-text {
  font-size: 50px;
  color: #AAE16B;
  font-weight: 500;
  margin-top: 5px;
  padding: 5px ;
}

.description {
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 10px;
  font-weight: 400;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #39434B;
  border-top: 4px solid #AAE16B;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}