<div class="dashboard-page">
  <header class="dashboard-header">
    <h1 class="title">
      <span class="title-mi">Mi</span>
      <span class="title-skilltrip">SkillTrip</span>
    </h1>
    <button class="export-button">
      Exportar
      <span class="export-icon">📥</span>
    </button>
  </header>

  <div class="dashboard-container">
    <!--> <app-balance-dashboard></app-balance-dashboard>
    <app-attendance-chart></app-attendance-chart>
    <app-skills-progress></app-skills-progress>
    <app-learning-hours></app-learning-hours>
    <app-upcoming-sessions></app-upcoming-sessions>
    <app-reviews-section></app-reviews-section> -->
  </div>
</div>